# GOOSE configs

GOOSE_DRIVER=mysql
GOOSE_DBSTRING="user:password@tcp(127.0.0.1:port)/database_name"
GOOSE_MIGRATION_DIR=db/migrations

# TCP server configs

TYPE="tcp"
PORT="port"

#DB configs with docker
DBSTRING="user:pass@tcp(db:port)/database_name"
TYPEDB="mysql"

# Docker config

DB_USER="user"
DB_PASS="pass"
DB_NAME="database_name"
DB_HOST="db"