# GOOSE configs

GOOSE_DRIVER=mysql
GOOSE_DBSTRING=user:password@tcp(127.0.0.1:3306)/database_name
GOOSE_MIGRATION_DIR=db/migrations

# TCP server configs

TYPE=tcp
PORT=:8080

# DB configs

DBSTRING=user:password@tcp(127.0.0.1:3306)/database_name
DBSTRING_DOCKER=user:password@tcp(db:3306)/database_name
TYPEDB=mysql

# Docker config

DB_USER=user
DB_USER_DOCKER=user

DB_PASS=password
DB_PASS_DOCKER=password

DB_NAME=database_name
DB_NAME_DOCKER=database_name

DB_HOST=127.0.0.1
DB_HOST_DOCKER=db