#usar p server laragon
HOST="localhost"

#usar p docker 
# nome do container
#HOST=""
# PORT="3306"

#nome do usuario do db
USER="" 
#senha do db
PASS=""
DATABASE="library"


# JWT token
# JWT keys
JWT_SECRET=""
JWT_REFRESH_SECRET=""
# redis
# link do redis docker
REDIS_URL="redis://localhost:6379"