# your db string here
DATABASE_URL=postgresql://user:password@localhost:5432/database_name
JWT_SECRET=replace-with-a-random-secret
JWT_REFRESH_SECRET=replace-with-a-random-secret
REDIS_URL=redis://localhost:6379
